# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Large Pretrained Models & Raw Audio Datasets (do not commit to Git)
models/
data/

# Temporary files
results/temp_*
*.tmp

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

